*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.coord {
    position: absolute;
    z-index: 99;
}

.coord p {
    color: white;
    font-weight: 700;
    /*position: absolute;*/
    /*z-index: 99;*/
}
